<p id="notice"><%= notice %></p>

<p>
  <strong>desciption:</strong>
  <%= @todo_item.desciption %>
</p>

<%= link_to 'Edit', edit_todo_item_path(@todo_item) %> |
<%= link_to 'Back', todo_items_path %>
